src/**
node_modules/**
test/**
__tests__/**
*.test.ts
*.spec.ts
.git/**
.gitignore
*.ts
!dist/**/*.js
tsc-errors*.log
.cursor/**
jest.config.ts
jest.setup.ts
tsconfig.json
build.js
esbuild-errors.txt
postcss.config.mjs
